### Gradle ###
.gradle
build/
!gradle/wrapper/gradle-wrapper.jar
!**/src/main/**/build/
!**/src/test/**/build/

### Kotlin ###
*.class
*.log
*.jar

hs_err_pid*
replay_pid*

### VS Code ###
.vscode/

### Mac OS ###
.DS_Store

### IntelliJ ###
.idea/
